h1
  font-family: 'Lobster', cursive
  font-size: 72px

li
  list-style: none

.chatbox
  overflow-y: scroll
  height: 400px
  margin: 15px auto

.stash
  margin: 0 auto
  height: 52px
  width: 150px
  background: url('/assets/images/stash.jpg')

.topbar
  text-align: right
  color: #ffffff
  background-color: #2c3e50
  border-color: #2c3e50

  a
    margin-left: 10px
    margin-right: 20px

